* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.App {
  position: relative;
  overflow: hidden;
}

.bar {
  background-color: dodgerblue;
  position: relative;
  width: 100%;
  margin: 1px;
}

.ArrayContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: rgb(22, 22, 22);
}

.Controls {
  position: absolute;
  top: 0px;
  width: 100%;
  /* border: 2px solid orange; */
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  background: #d3d3d3;
  width: 100%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 2px;
}


.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: dodgerblue;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: dodgerblue;
  cursor: pointer;
}

.Btn {
  background-color: rgb(0, 113, 225);
  transition: background-color .1s ease-in-out;
  border: none;
  color: white;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.Btn:hover {
  background-color: rgb(30, 143, 255);
}

.buttons{
  display: flex;
  width: 30%;
  justify-content: center;
  flex-wrap: wrap;
}
.sliders{ 
  display: flex;
  width: 70%; 
  flex-wrap: wrap;
  /* border: 2px solid green; */
  justify-content: center;
}
.displayParameters{
  font-weight: bold;
  color: white;
  display: block;
}
.slider{
  width: 18em;
  margin: 2px;
  /* border: 2px solid red; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.slider p{text-align: center;}
.newArr{background-color: #db1f48c5; font-weight: bold;}
.newArr:hover{background-color: #DB1F48; font-weight: bold;}